---
tags: ["taplistpages"]
---
<div class="carousel-slide">
    <h1>Keezer</h1>
    <div class="beer-tap-list">
        <div class="beer-card">
            <div class="beer-name">Tap 1: Dry :-(</div>
            <div class="beer-details">
                <span class="beer-colour"></span>
                <span class="beer-style"></span>
                <span class="beer-abv"></span>
            </div>
            <div class="beer-notes"></div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 2: Dry :-(</div>
            <div class="beer-details">
                <span class="beer-colour"></span>
                <span class="beer-style"></span>
                <span class="beer-abv"></span>
            </div>
            <div class="beer-notes"></div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 3: Dry :-(</div>
            <div class="beer-details">
                <span class="beer-colour"></span>
                <span class="beer-style"></span>
                <span class="beer-abv"></span>
            </div>
            <div class="beer-notes"></div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 4: Dry :-(</div>
            <div class="beer-details">
                <span class="beer-colour"></span>
                <span class="beer-style"></span>
                <span class="beer-abv"></span>
            </div>
            <div class="beer-notes"></div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 5: Dry :-(</div>
            <div class="beer-details">
                <span class="beer-colour"></span>
                <span class="beer-style"></span>
                <span class="beer-abv"></span>
            </div>
            <div class="beer-notes"></div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 6: Dry :-(</div>
            <div class="beer-details">
                <span class="beer-colour"></span>
                <span class="beer-style"></span>
                <span class="beer-abv"></span>
            </div>
            <div class="beer-notes"></div>
        </div>
    </div>
</div>