---
tags: ["taplistpages"]
---
<div class="carousel-slide">
    <h1>Keggerator</h1>
    <div class="beer-tap-list">
        {% beercard 1, keggorator.tap1 %}
        {% beercard 2, keggorator.tap2 %}
        {% beercard 3, keggorator.tap3 %}
        {% beercard 4, keggorator.tap4 %}
    </div>
</div>