---
tags: ["taplistpages"]
---
<div class="carousel-slide">
    <h1>Keggerator</h1>
    <div class="beer-tap-list">
        <div class="beer-card">
            <div class="beer-name">Tap 1: Fairwater Facets</div>
            <div class="beer-details">
                <span class="beer-colour ebc-17"></span>
                <span class="beer-style">India Pale Ale</span>
                <span class="beer-abv">5.2%</span>
            </div>
            <div class="beer-notes">Superdelic edition!</div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 2: Oregon Trail</div>
            <div class="beer-details">
                <span class="beer-colour ebc-8"></span>
                <span class="beer-style">West Coast IPA</span>
                <span class="beer-abv">5.4%</span>
            </div>
            <div class="beer-notes">A variant on the Elusive Brewery classic pale ale!</div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 3: {% recipelink "Ding-ish", "/recipes/2026-02-04-ding-ish/" %}</div>
            <div class="beer-details">
                <span class="beer-colour ebc-8"></span>
                <span class="beer-style">Munich Helles</span>
                <span class="beer-abv">5.0%</span>
            </div>
            <div class="beer-notes">Based on Double-Barrelled's recipe for Ding in Andy Parker's
                "The Modern Homebrewer". I didn't have any pilsener malt, so I used Simpson's Low Colour Maris Otter
                instead.</div>
        </div>
        <div class="beer-card">
            <div class="beer-name">Tap 4: Vanilla & Run Porter</div>
            <div class="beer-details">
                <span class="beer-colour ebc-60"></span>
                <span class="beer-style">Robust Porter</span>
                <span class="beer-abv">6.0%</span>
            </div>
            <div class="beer-notes">Sweet vanilla and rum flavour complimented by subtle notes of winter berries and
                dried
                fruit.</div>
        </div>
    </div>
</div>