---
tags: ["taplistpages"]
---
<div class="carousel-slide">
    <h1>Reading Amateur Brewers</h1>
    <div class="beer-tap-list">
        <div class="beer-card">
            <img src="{{ taplist.rabQr }}" alt="{{ taplist.rabAlt }}" />
            <p align="center">Reading Amateur Brewers website</p>
        </div>
        <div class="beer-card">
            <img src="{{ taplist.rabfestLogo }}" alt="{{ taplist.rabfestAlt }}" />
            <p align="center">Join us for RABFest 2026!</p>
        </div>
    </div>
</div>