---
tags: ["taplistpages"]
---
<div class="carousel-slide active">
    <h1>Wifi & Taplist link</h1>
    <div class="beer-tap-list">
        <div class="beer-card">
            <img src="{{ taplist.wifiQr }}" alt="{{ taplist.wifiAlt }}" />
            <p align="center">Wifi: <i>FairwaterBrewery</i><br />
                Pwd: <i>welovebeer</i></p>
        </div>
        <div class="beer-card">
            {% qrcode taplist.taplistLink, 374, taplist.taplistAlt %}
            <p align="center">{{ taplist.taplistAlt }}</p>
        </div>
    </div>
</div>