---
eleventyNavigation:
  key: "Contact"
  order: 4
---
<h1>Contact the brewery</h1>

<a href="mailto:{{ metadata.contactEmail }}" class="sociallink">
  <img src="/img/site/email.png" alt="Email logo" class="socialicon"/>
  email: {{ metadata.contactEmail }}
</a>
