---js
const eleventyNavigation = {
	key: "Recipes",
	order: 3
};
const pagination = {
  data: "recipes",
  size: 10
};
---
<h1>Recipe list</h1>
<p>Alphabetical by name</p>
<ol>
    {% for item in pagination.items.sort() -%}
    <li><a href="/recipes/{{ item.file }}">{{ item.file }}</a></li>
    {% endfor -%}
</ol>
{%- if pagination.href.previous or pagination.href.next %}
<ul class="links-nextprev">
	<li class="links-nextprev-prev">{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">← Previous</a>{% else %}&nbsp;{% endif %}</li>
	<li class="links-nextprev-next">{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next →</a>{% else %}&nbsp;{% endif %}</li>
</ul>
{%- endif %}