---
eleventyNavigation:
  key: "Taplist"
  order: 7
layout: "layouts/taplist.njk"
---
<div class="carousel-buttons">
  <button class="carousel-prev">&#10094;</button>
  <button class="carousel-next">&#10095;</button>
</div>

<div class="carousel-container">
  {%- for taplistpage in collections.taplistpages -%}
    {{ taplistpage.content | safe }}
  {%- endfor -%}
</div>

<div class="carousel-buttons">
  <button class="carousel-prev">&#10094;</button>
  <button class="carousel-next">&#10095;</button>
</div>